<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bullshyp.datacollection" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Data Collection</name>
    <description>
        A data collection app that collects ti sensor tag data, used for SYDE 361 project.
    </description>
    <author email="dev@cordova.apache.org" href="http://cordova.io">
        SYDE 361 - Group 5
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
